<% content_for :title do %>Send a Message<% end %>

<% content_for :stylesheet do %>
<style>
.submit {
    height: 46px;
    margin-top: 24px;
    background-image: url(/assets/send-button.png);
    background-position-x: left;
}

.cancel {
    height: 46px;
    margin-top: 36px;
}
 </style>
<% end %>

<h1 class="grid_16">Send a message to <%= @event.to.name %></h1>

<div class="grid_12">
    <p class="overview">
        <% if current_is_student? %>
        <%= @request.donor.name %> in <%= @request.donor.location %>
        <% if @request.sent? %>sent<% else %>agreed to send<% end %> you
        <% else %>
        <%= @request.user.name %> in <%= @request.user.location %> wants to read
        <% end %>
        <span class="title"><%= @request.book %></span>
    </p>

    <%= form_for @event, url: request_messages_path(@request) do |f| %>
        <p class="field_with_errors"><%= @event.errors[:message].join(", ") %></p>
        <%= f.text_area :message, rows: 6, cols: 60 %>
        <div class="clear"></div>

        <%= f.submit "", class: "grid_3 alpha submit button" %>
        <%= link_to 'Cancel', @request, class: "grid_2 omega cancel" %>
        <div class="clear"></div>
    <% end %>
</div>
