<% content_for :title do %>Login<% end %>

<h1 class="grid_16">Log in</h1>

<%= form_tag login_path do %>
    <%= label_tag :email, "Email", class: "grid_1" %>
    <%= text_field_tag :email, params[:email], class: "grid_4" %>
    <% if @error %><div class="grid_8 field_with_errors"><%= @error %></div><% end %>
    <div class="clear"></div>

    <%= label_tag :password, "Password", class: "grid_1" %>
    <%= password_field_tag :password, nil, class: "grid_4" %>
    <div class="grid_5"><%= link_to "Forgot your password?", forgot_password_path(email: params[:email]) %></div>
    <div class="clear"></div>

    <%= hidden_field_tag :destination, @destination %>

    <div class="grid_1">&nbsp;</div>
    <%= submit_tag "Log in", class: "grid_2" %>
    <div class="clear"></div>
<% end %>
