<% content_for :title do %>Thank Your Donor<% end %>

<% content_for :stylesheet do %>
<style>
.button {
    height: 46px;
    margin-top: 24px;
    background-position-x: left;
    background-image: url(/assets/update-button.png);
}

.public label, .public span {
    padding-left: 12px;
}
 </style>
<% end %>

<h1 class="grid_16">Yes, I have received my book</h1>

<div class="grid_12">
    <p class="overview"><%= donation_summary @request %>. Use this form to let us know when you've received it.</p>

    <%= form_for @request, url: request_status_path(@request) do |f| %>
        <%= f.hidden_field :status, value: "received" %>

        <%= f.fields_for @event do |e| %>
            <% if @request.thanked? %>
            <h2>Add a message for <%= @request.donor.name %> (optional)</h2>
            <% else %>
            <h2>Add a thank-you message for <%= @request.donor.name %></h2>
            <% end %>

            <p class="field_with_errors"><%= @event.errors[:message].join(", ") %></p>
            <%= e.text_area :message, rows: 6, cols: 60 %>
            <div class="clear"></div>

            <% if !@request.thanked? %>
            <%= e.hidden_field :is_thanks, value: true %>
            <div class="public">
                May we use this as a public testimonial?
                <label><%= e.radio_button :public, true  %> Yes</label>
                <label><%= e.radio_button :public, false  %> No</label>
                <span class="field_with_errors"><%= @event.errors[:public].join(", ") %></span>
            </div>
            <% end %>
        <% end %>

        <%= f.submit "", class: "grid_3 alpha button" %><div class="clear"></div>
    <% end %>
</div>
