<% content_for :stylesheet do %>
<style>
h2 {
    margin-top: 12px;
}

.label {
    font-family: 'gill sans', helvetica, sans-serif;
    font-weight: bold;
}

.goback {
    margin-top: 20px;
}
</style>
<% end %>

<h1 class="grid_16">Thank you!</h1>

<p class="grid_16">You are signed up. Your information:</p>

<h2 class="grid_16">Public profile</h2>

<p class="grid_2 label">Name</p><p class="grid_6"><%= @user.name %></p><div class="clear"></div>
<% if @user.studying.present? %>
<p class="grid_2 label">Studying</p><p class="grid_6"><%= @user.studying %></p><div class="clear"></div>
<% end %>
<% if @user.school.present? %>
<p class="grid_2 label">At</p><p class="grid_6"><%= @user.school %></p><div class="clear"></div>
<% end %>
<p class="grid_2 label">In</p><p class="grid_6"><%= @user.location %></p><div class="clear"></div>
<% if @request %>
<p class="grid_2 label">Wants to read</p><p class="grid_6 title"><%= @request.book %></p><div class="clear"></div>
<p class="grid_2 label">Because</p>
<p class="grid_6"><%= @request.reason %></p>
<div class="clear"></div>
<% end %>
<% if @pledge %>
<p class="grid_2 label">Pledged</p><p class="grid_6"><%= @pledge.quantity %> books</p>
<div class="clear"></div>
<% if @pledge.reason.present? %>
<p class="grid_2 label">Because</p>
<p class="grid_6"><%= @pledge.reason %></p>
<div class="clear"></div>
<% end %>
<% end %>

<h2 class="grid_16">Private account info</h2>

<p class="grid_2 label">Email</p><p class="grid_6"><%= @user.email %></p><div class="clear"></div>
<% if @user.address.present? %>
<p class="grid_2 label">Address</p>
<p class="grid_6"><%= raw format_address @user.address %></p>
<div class="clear"></div>
<% end %>

<p class="grid_16 goback">If any of this is wrong, hit the back button to change it or just <%= link_to 'sign up again', action: params[:from_action] %>.</p>
