<p>You received <%= @donation.book %> on <%= l @received_at.to_date, format: :short %>
    (<%= distance_of_time_in_words_to_now @received_at %> ago). When you finish reading it,
    you can now confirm on Free Objectivist Books:
</p>

<p><strong><%= link_to edit_donation_status_url(@donation, status: "read") do %>
    Yes, I have finished reading <i><%= @donation.book %></i>
<% end %></strong></p>

<p>That will let us know for our records, and notify your donor, <%= @donation.donor.name %>. You'll also have the
    opportunity to say what you thought of the book--we'd love to know.
</p>

<p>If you haven't finished reading yet, just use the link above when you do.</p>
