<div class="request">
    <div class="headline">
        <%= request.user.name %> (<%= request.user.email %>) wants <span class="title"><%= request.book %></span>
    </div>
    <div class="tagline"><%= user_tagline request.user %></div>
    <div class="reason"><%= request.reason %></div>
    <div class="timestamp"><%= l request.created_at %></div>
</div>
