<% content_for :title do %>Admin<% end %>

<% content_for :stylesheet do %>
<style>
h2 {
    margin-top: 24px;
    margin-bottom: 12px;
}

td, th {
    padding-right: 12px;
}

.overview {
    font-size: 1.5em;
    margin-bottom: 0;
}

.event .headline {
    font-size: 11pt;
    font-weight: normal;
}

.event .timestamp {
    display: none;
}

.dupe {
    color: #d80000;
}

.button {
    height: 56px;
    background-image: url(/assets/delete-button.png);
}
</style>
<% end %>

<h1 class="grid_16">Admin</h1>

<div class="grid_12 overview">
    <p>
        <%= link_to pluralize(@user_count, 'user'), admin_users_path %> &ndash;
        <%= link_to pluralize(@request_count, 'request'), admin_requests_path %> &ndash;
        <%= link_to pluralize(@pledge_count, 'pledge'), admin_pledges_path %> &ndash;
        <%= link_to pluralize(@event_count, 'event'), admin_events_path %>
    </p>

    <h2>Request pipeline</h2>
    <%= render partial: "admin/metrics", object: @request_metrics %>

    <h2>Pledges</h2>
    <%= render partial: "admin/metrics", object: @pledge_metrics %>

    <h2>Latest events</h2>
    <%= render partial: "admin/events/event", collection: @latest_events %>

    <h2>Books leaderboard</h2>
    <%= render partial: "admin/metrics", object: @book_metrics %>
</div>
