<% content_for :title do %>Admin<% end %>

<% content_for :stylesheet do %>
<style>
h2 {
    margin-top: 24px;
    margin-bottom: 12px;
}

td, th {
    padding-right: 12px;
}

.metric_header {
    font-size: 0.9em;
    width: 48px;
}

.overview {
    font-size: 1.5em;
    margin-bottom: 0;
}

.event {
    font-size: 11pt;
}

.dupe {
    color: #d80000;
}

.button {
    height: 56px;
    background-image: url(/assets/delete-button.png);
}
</style>
<% end %>

<h1 class="grid_16">Admin</h1>

<div class="grid_12 overview">
    <p>
        <%= link_to pluralize(@user_count, 'user'), admin_users_path %>
        &ndash; <%= link_to pluralize(@request_count, 'request'), admin_requests_path %>
        &ndash; <%= link_to pluralize(@pledge_count, 'pledge'), admin_pledges_path %>
        &ndash; <%= link_to pluralize(@event_count, 'event'), admin_events_path %>
        &ndash; <%= link_to pluralize(@review_count, 'review'), admin_reviews_path %>
        &ndash; <%= link_to pluralize(@public_thanks_count, 'public thank-yous'), admin_events_path(public_thanks: true) %>
        &ndash; <%= link_to pluralize(@testimonial_count, 'testimonials'), admin_testimonials_path %>
        &ndash; <%= link_to pluralize(@referral_count, 'referral'), admin_referrals_path %>
    </p>

    <h2>User search</h2>
    <%= form_tag admin_users_path, method: :get do %>
    <%= text_field_tag :q, "", placeholder: 'Name or email' %>
    <%= submit_tag 'Go' %>
    <% end %>

    <h2>Request pipeline</h2>
    <%= render partial: "admin/metrics", object: @metrics.request_pipeline %>

    <h2>Pipeline breakdown</h2>
    <%= render partial: "admin/metrics_table", object: @metrics.pipeline_breakdown, locals: {
        links: {
            'Open requests' => admin_requests_path(type: :not_granted),
            'Needs sending' => admin_requests_path(type: :needs_sending),
            'In transit' => admin_requests_path(type: :in_transit),
            'Reading' => admin_requests_path(type: :reading),
        }
    } %>

    <h2>Donation metrics</h2>
    <%= render partial: "admin/metrics", object: @metrics.donation_metrics %>

    <h2>Pledge metrics</h2>
    <%= render partial: "admin/metrics", object: @metrics.pledge_metrics %>

    <h2>Latest events</h2>
    <% @latest_events.each do |event| %>
    <p class="event"><%= render partial: "admin/events/event_headline", locals: {event: event} %></p>
    <% end %>

    <h2>Books leaderboard</h2>
    <%= render partial: "admin/metrics_table", object: @metrics.book_leaderboard %>
</div>
