<% content_for :title do %>Admin<% end %>

<% content_for :stylesheet do %>
<style>
h2 {
    margin-top: 24px;
    margin-bottom: 12px;
}

td {
    padding-right: 12px;
}

.overview {
    font-size: 1.5em;
    margin-bottom: 0;
}

.dupe {
    color: #d80000;
}

.button {
    height: 56px;
    background-image: url(/assets/delete-button.png);
}
</style>
<% end %>

<h1 class="grid_16">Admin</h1>

<div class="grid_12 overview">
    <p><%= link_to pluralize(@user_count, 'user'), admin_users_path %></p>
    <p><%= link_to pluralize(@request_count, 'book') + " requested", admin_requests_path %>:
        <%= @granted_request_count %> granted (<%= @flagged_request_count %> flagged), <%= @open_request_count %> open
    </p>
    <p><%= link_to pluralize(@pledge_quantity, 'book') + " pledged", admin_pledges_path %> from <%= pluralize @pledge_count, 'donor' %></p>
</div>

<h2 class="grid_16">Books</h2>
<table class="grid_16 overview">
    <% @books.each do |book| %>
    <tr><td><%= book %></td><td><%= @book_counts[book] %></td></tr>
    <% end %>
</table>
