<% content_for :title do %>Admin<% end %>

<% content_for :stylesheet do %>
<style>
h2 {
    margin-top: 24px;
    margin-bottom: 12px;
}

.overview {
    font-size: 1.5em;
    margin-bottom: 0;
}

.dupe {
    color: #d80000;
}

.button {
    height: 56px;
    background-image: url(/assets/delete-button.png);
}
</style>
<% end %>

<h1 class="grid_16">Admin</h1>

<div class="grid_12 overview">
    <p><%= @request_count %> books requested: <%= @granted_request_count %> granted, <%= @open_request_count %> open</p>
    <p><%= @pledge_quantity %> books pledged from <%= @pledge_count %> donors</p>
</div>

<h2 class="grid_16">Requests</h2>
<%= render partial: "admin/request", collection: @requests, spacer_template: "spacer" %>

<h2 class="grid_16">Pledges</h2>
<%= render partial: "admin/pledge", collection: @pledges, spacer_template: "spacer" %>
