<div class="review">
    <p class="headline"><%= admin_user_link review.user %> read <%= title review.book %> and
        <%= review.recommend? ? "recommends" : "does NOT recommend" %></span> it
    </p>
    <p class="text"><%= format_block review.text %></p>
    <p class="timestamp">
        <%= l review.created_at %> &ndash;
        <% if review.testimonial.present? %>
        Already has testimonial
        <% else %>
        <%= link_to 'Make testimonial', new_admin_testimonial_path(source_type: 'Review', source_id: review.id) %>
        <% end %>
    </p>
</div>
<div class="clear"></div>
