<div class="testimonial">
    <div class="alpha grid_12 omega left">
        <div class="headline"><%= markdown testimonial.title %></div>
        <div class="text"><%= markdown testimonial.text %></div>
        <div class="tagline"><%= markdown testimonial.attribution %></div>
        <% if testimonial.source %>
        <p>From
            <% case testimonial.source %>
            <% when Review %>
            review of <%= link_to (title testimonial.source.book), admin_request_path(testimonial.source.donation.request) %>
            <% when Pledge %>
            <%= admin_user_link(testimonial.source.user) %>'s pledge
            <% when Event %>
                <% if testimonial.source.is_thanks? %>
                thank-you for
                <% else %>
                <%= testimonial.source.type %> <%= testimonial.source.detail %> event on
                <% end %>
                <%= link_to (title testimonial.source.book), admin_request_path(testimonial.source.request) %>
            <% else %>
            <%= testimonial.source.class.to_s.downcase %>
            <% end %>
        </p>
        <% end %>
        <p>
            <%= link_to 'Edit', edit_admin_testimonial_path(testimonial) %>
            &ndash;
            <%= link_to 'Delete', admin_testimonial_path(testimonial), method: :delete, confirm: "Delete this testimonial?" %>
        </p>
    </div>

    <div class="clear"></div>
</div>
