<div class="donation">
    <div class="grid_6 alpha request">
        <p class="headline"><span class="title"><%= donation.book %></span> to:</p>
        <p class="name"><%= donation.user.name %></p>
        <p class="address"><%= format_address donation.address %></p>
    </div>
    <div class="grid_6 omega actions">
        <p><%= link_to 'See full request details', request_path(donation) %></p>
        <% if donation.flagged? %>
        <p class="flagged">
            <% if donation.address.present? %>
            Shipping info flagged
            <% else %>
            Student has been contacted to add address
            <% end %>
        </p>
        <% else %>
        <p><%= link_to 'Flag problem with shipping info', flag_request_path(donation) %></p>
        <% end %>
    </div>
    <div class="clear"></div>
</div>
