<% content_for :title do %>About, FAQ, Contact<% end %>

<% content_for :stylesheet do %>
<style>
.question {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 3px;
}

.signup {
    margin-top: 72px;
}

.signup p {
    font-size: 1.2em;
}
</style>
<% end %>

<div class="grid_12">
    <h1>About this site</h1>
    <p>This site gets donors to send Objectivist books (books by
        <a href="http://www.aynrand.org/site/PageServer?pagename=about_ayn_rand_aynrand_biography">Ayn Rand</a> or about
        her philosophy of <a href="http://www.aynrand.org/site/PageServer?pagename=objectivism_intro">Objectivism</a>)
        to students who would like to read them. Our goal is to get more students reading Ayn Rand.
    </p>

    <h2>How it works</h2>
    <p>Students create a simple public profile with their name and school, and say what book they want to
        read. Donors browse a list of students and choose which ones they want to send books to. The donors send the books
        to the students directly.
    </p>

    <h1>FAQ</h1>

    <h2>General</h2>

    <p class="question">Why are people willing to donate these books?</p>
    <p>The donors are big fans of Ayn Rand and her philosophy. Most of us would say that reading her
        works changed our lives. We want to spread her ideas and we're happy to help students discover her work.
        Read our <%= link_to 'testimonials', testimonials_path %> for quotes from our donors.
    </p>

    <p class="question">Who is Ayn Rand? What is "Objectivism"?</p>
    <p>Ayn Rand was a 20th-century novelist and philosopher, most famous for her novels
        <%= title 'Atlas Shrugged' %> and <%= title 'The Fountainhead' %>. "Objectivism" is the
        name she gave to her philosophy, which upholds reason, individualism, and capitalism. Learn more from
        <a href="http://aynrand.org">The Ayn Rand Institute</a>.
    </p>

    <p class="question">Do you send books outside the US?</p>
    <p>Yes! Our donors have sent books to students in Australia, Bolivia, Canada, Finland, Guatemala, Iceland, Israel,
        Kenya, Morocco, the Netherlands, New Zealand, Nigeria, Sweden, Tunisia, Turkey, and more.
    </p>

    <p class="question">Who is behind this?</p>
    <p>This site is a private project by Jason Crawford, of <a href="http://rationalegoist.com">The
        Rational Egoist</a>.
    </p>

    <h2>Requesting books</h2>

    <p class="question">Can I request multiple books?</p>
    <p>Yes, but you can only have one open request at a time. Once we've found a donor for your first request, you can
        request another book.
    </p>

    <p class="question">Can I request books for friends or others?</p>
    <p>Please have your friends sign up on the site directly to receive a book. Everyone who receives a book should be
        registered for a Free Objectivist Books account. You can email this link to anyone who wants to sign up:
        <%= link_to signup_read_url, signup_read_url %>
    </p>

    <p class="question">My donor sent the book a while ago, but I haven't received it. What do I do?</p>
    <p>Send your donor a message through the site and ask them for an update or a tracking number. If they don't
        respond or if you still don't get your book, contact me at
        <%= mail_to 'jason@rationalegoist.com', 'jason@rationalegoist.com' %>
    </p>

    <h2>Donating books</h2>

    <p class="question">Can I donate used books?</p>
    <p>Yes, used books are fine.</p>

    <p class="question">Do I have to mail the books myself? Can I just buy them online?</p>
    <p>Yes, that's fine. Many donors buy books on Amazon or AbeBooks and ship them directly to students. No need to
        pack boxes or visit the post office.
    </p>

    <p class="question">Can I just give money?</p>
    <p>The best way to contribute is to send books directly to students. If you aren't willing to do that,
        but still want to help, we may be able to use a cash contribution: contact me at
        <%= mail_to 'jason@rationalegoist.com', 'jason@rationalegoist.com' %>. (We have not yet been recognized as a
        501(c)(3) public charity and cannot guarantee that contributions are tax-deductible.)
    </p>

    <p class="question">Why not list requests in the order they are received?</p>
    <p>Requests are listed with the most recent on top to give each student a turn in the most prominent position. If
        a request is immediately appealing to donors, it will be granted right away. Otherwise, it is moved down the
        page to give newer appeals a chance to be seen.
    </p>

    <h2>Privacy</h2>

    <p class="question">What will you do with my info?</p>
    <p>Your public profile shows only your name and city (and for students, school and area of study). Students and the
        books they want to read will be displayed publicly on the site so that donors can find them and fulfill their
        requests.
    </p>
    <p>Your email address will be used by us to contact you, but will not be displayed publicly. For students, your
        mailing address will only be shown to the donor who sends your book.
    </p>

    <h1>Contact</h1>

    <p>
        Jason Crawford,
        <a href="http://rationalegoist.com">The Rational Egoist</a>
    </p>
    <div class="clear"></div>
    <p>
        Follow me on Twitter (<a href="http://twitter.com/rationalegoist">@rationalegoist</a>) and
        <a href="http://facebook.com/rationalegoist">Facebook</a>
    </p>
    <div class="clear"></div>
    <p>Email me: <%= mail_to "jason@rationalegoist.com", "jason@rationalegoist.com" %></p>
</div>

<% if !@current_user %>
<div class="grid_4 sidebar signup">
    <div class="top">&nbsp;</div>
    <div class="content">
        <h2>Got it?</h2>
        <p>Good. Now go sign up to <%= link_to 'read', signup_read_path %> or <%= link_to 'donate', signup_donate_path %>.</p>
    </div>
    <div class="bottom">&nbsp;</div>
</div>
<% end %>

<%= render "users/feedback_sidebar" %>
