<% content_for :stylesheet do %>
<style>
.profile, .request, .pledge, .actions {
    margin-top: 8px;
    margin-bottom: 8px;
}

.name {
    margin-bottom: 0;
}

.notes {
    margin-top: 12px;
}

.missing {
    color: #d80000;
}
</style>
<% end %>

<h1 class="grid_16"><%= @current_user.name %></h1>

<% if @current_user.requests.any? %>
<h2 class="grid_12">Your request</h2>
<% @current_user.requests.each do |request| %>
<div class="grid_12 request">
    <p class="headline"><%= request.user.name %> wants to read <span class="title"><%= request.book %></span></p>

    <p class="status">
        <% if request.sent? %>
        <%= request.donor.name %> in <%= request.donor.location %> has sent this book.
        <% elsif request.granted? %>
        We have found you a donor! <%= request.donor.name %> in <%= request.donor.location %>.
        <% else %>
        We are looking for a donor for you. We'll let you know when we find someone.
        <% end %>
    </p>

    <% if request.address.blank? %>
        <% if request.flagged? %>
        <p class="flagged">We need your address to send you your book.</p>
        <% end %>
    <p><%= link_to 'Add your address', edit_request_path(request) %></p>
    <% elsif request.flagged? %>
    <p class="flagged">There seems to be a problem with your shipping info.</p>
    <p><%= link_to 'Update your shipping info', edit_request_path(request) %></p>
    <% elsif request.granted? %>
    <p>They will send your book soon.</p>
        <% if request.needs_thanks? %>
        <p><%= link_to "Thank #{request.donor.name}", edit_request_path(request, type: "thank") %></p>
        <% end %>
    <% end %>

    <p><%= link_to 'See full request details', request_path(request) %></p>
</div>
<div class="clear"></div>
<% end %>
<% end %>

<% if @current_user.pledges.any? %>
<% @current_user.pledges.each do |pledge| %>
<div class="grid_8 pledge">
    <p class="headline">You pledged to donate <%= pledge.quantity %> books</p>
</div>
<div class="clear"></div>
<% end %>
<% end %>

<% if @current_user.donations.any? || @current_user.pledges.any? %>
<h2 class="grid_16">Your donations</h2>
<% if @current_user.donations.any? %>
<p class="grid_16">Please send the following books:</p>
<div class="grid_12">
    <%= render partial: "requests/spacer" %>
    <%= render partial: "donation", collection: @current_user.donations, spacer_template: "requests/spacer" %>
    <%= render partial: "requests/spacer" %>
    <div class="notes">
        <p>If ordering online to ship directly to the student, you may need to put in a phone number. We don't collect
            student's phone numbers right now; it's best to enter your own number.
        </p>
        <p>Problems with any of these addresses?
            <%= mail_to "jason@rationalegoist.com", "Contact Jason for help.", subject: "Problem with student addresses" %>
        </p>
    </div>
</div>
<div class="clear"></div>
<% else %>
<p class="grid_8">None yet. <%= link_to 'Find students to donate books to', donate_path %></p><div class="clear"></div>
<% end %>
<% end %>
