<% content_for :title do %>Update Request<% end %>

<% content_for :stylesheet do %>
<style>
.submit {
    height: 46px;
    margin-top: 24px;
    background-image: url(/assets/update-button.png);
    background-position-x: left;
}
 </style>
<% end %>

<% if @request.flagged? && current_is_student? %>
<div class="grid_12 message error">
    <% if @request.address.blank? %>
    <p class="headline">Add your address to get your book.</p>
    <% else %>
    <p class="headline">There seems to be a problem with your shipping info.</p>
    <p class="detail">Your donor says: "<%= format_block @request.flag_message %>"</p>
    <% end %>
</div>
<% end %>

<h1 class="grid_16">Your shipping info</h1>

<div class="grid_10">
<%= form_for @request do |f| %>
    <% unless @request.user.errors.empty? && @request.errors.empty? %>
    <div class="errorExplanation">
        <h2>There are problems with your info</h2>
        <p>Please see below and make corrections.</p>
    </div>
    <% end %>

    <%= fields_for @request.user do |u| %>
    <%= u.label :name, "Your name", class: "grid_5 alpha" %><div class="clear"></div>
    <%= u.text_field :name, class: "grid_5 alpha" %>
    <span class="grid_4 field_with_errors"><%= @request.user.errors[:name].join(", ") %></span>
    <div class="clear"></div>

    <%= u.label :address, "Mailing address", class: "grid_5 alpha" %><div class="clear"></div>
    <%= u.text_area :address, class: "grid_5 alpha", rows: 5 %>
    <div class="grid_4">
        <p>Only shared with your donor.</p>
        <% if @request.address.blank? && !@request.granted? %><p>You can enter this later.</p><% end %>
        <p class="field_with_errors"><%= @request.user.errors[:address].join(", ") %></p>
    </div>
    <div class="clear"></div>
    <% end %>

    <% if @request.donor %>
    <h2>Add a message for your donor (optional)</h2>

    <p>Your donor will get a notification about this update, and we'll include your message:</p>
    <%= text_area_tag :message, "", rows: 6, cols: 60 %>
    <div class="clear"></div>
    <% end %>

    <%= f.submit "", class: "grid_3 alpha submit button" %><div class="clear"></div>
<% end %>
</div>
