<% content_for :title do %>Donate<% end %>

<% content_for :stylesheet do %>
<style>
.button {
    height: 56px;
    background-image: url(/assets/donate-one-button.png);
}

.center {
    margin-top: 5px;
}

.sidebar li {
    margin: 0;
    padding: 4px 0;
    list-style: none;
}
</style>
<% end %>

<h1 class="grid_16">Donate</h1>

<div class="grid_16 overview">
    <% if @requests.any? %>
    <p>These students have pledged to read Objectivist books. Choose which ones you want to fulfill.</p>
    <% else %>
    <p>All student requests have been granted for now! Check back soon for more eager minds.</p>
    <% end %>
</div>

<% if @requests.any? %>
<div class="grid_12 center">
    <%= render partial: "request", collection: @requests, spacer_template: "spacer" %>
</div>
<% end %>

<div class="grid_4 sidebar">
    <div class="top">&nbsp;</div>
    <div class="content">
        <h2>Your donations<% if @donations.any? %> (<%= @donations.count %>)<% end %></h2>
        <% if @donations.any? %>
        <ul>
            <% @donations.each do |donation| %>
            <li>
                <span class="title"><%= donation.book %></span> to <%= donation.user.name %> in
                <%= donation.user.location %>
            </li>
            <% end %>
        </ul>
        <p><%= link_to 'See full details', profile_path %></p>
        <% else %>
        <p>None right now.</p>
        <% end %>
        <% if @pledge %>
        <p>You have pledged <%= @pledge.quantity %> books.</p>
        <% end %>
    </div>
    <div class="bottom">&nbsp;</div>
</div>
