<% content_for :title do %><%= @request.user.name %> wants <%= @request.book %><% end %>

<% content_for :stylesheet do %>
<style>
.name {
    margin-bottom: 0;
}

.back {
    margin-top: 24px;
}

.sidebar {
    margin-top: 24px;
}

.button {
    height: 46px;
    margin: 6px 0;
    background-position-x: left;
}

.sent {
    background-image: url(/assets/sent-button.png);
}

.update {
    background-image: url(/assets/update-button.png);
}
</style>
<% end %>

<% if @request.flagged? && current_is_student? %>
<div class="grid_12 message error">
    <p class="headline">
        <% if @request.address.blank? %>
        We need your address to send you your book.
        <%= link_to 'Add your address', fix_donation_flag_path(@request.donation) %>
        <% else %>
        There seems to be a problem with your shipping info.
        <%= link_to 'Update your shipping info', fix_donation_flag_path(@request.donation) %>
        <% end %>
    </p>
</div>
<% end %>

<div class="grid_16">
    <h1><%= @request.user.name %> wants <%= title @request.book %></h1>
    <p class="overview tagline"><%= user_tagline @request.user %></p>
    <p class="reason"><%= format_block @request.reason %></p>
</div>

<div class="request grid_10">
    <h2>Ship to</h2>
    <p class="name"><%= @request.user.name %></p>
    <p class="address"><%= format_address @request.address %></p>

    <% if current_is_donor? && @request.flagged? %>
    <p class="flagged">
        <% if @request.address.present? %>
        Shipping info flagged
        <% else %>
        Student has been contacted to add address
        <% end %>
    </p>
    <% end %>

    <h2>Status: <%= status_headline @request %></h2>
    <p class="status"><%= status_detail @request %></p>

    <% if current_is_donor? %>
    <p class="back"><%= link_to 'Back to all donations', profile_path %></p>
    <% end %>
</div>

<div class="grid_5 sidebar">
    <div class="top_5">&nbsp;</div>
    <div class="content_5">
        <% if current_is_donor? %>
            <% if @request.can_send? %>
            <h2>Update status</h2>
            <p>Let <%= @request.user.name %> know when you have sent <%= title @request.book %>:</p>
            <%= form_for @request.donation, url: donation_status_path(@request.donation) do |f| %>
                <%= f.hidden_field :status, value: "sent" %>
                <%= f.submit "", class: "grid_3 alpha button sent" %><div class="clear"></div>
            <% end %>
            <% end %>
            <% if @request.can_flag? %>
            <p><%= link_to 'Flag problem with shipping info', new_donation_flag_path(@request.donation) %></p>
            <% end %>
        <% end %>

        <% if current_is_student? %>
            <% if @request.in_transit? %>
            <h2>Update status</h2>
            <p>Let <%= @request.donor.name %> know when you have received <%= title @request.book %>:</p>
            <%= link_to edit_donation_status_path(@request.donation, status: "received"), class: "grid_3 alpha" do %>
                <div class="button update"></div>
            <% end %>
            <div class="clear"></div>
            <% elsif @request.needs_thanks? %>
            <p><%= link_to "Thank #{@request.donor.name}", new_donation_thank_url(@request.donation) %></p>
            <% end %>

            <% if @request.address.blank? %>
            <p><%= link_to 'Add your address', edit_request_path(@request) %></p>
            <% elsif !@request.sent? %>
            <p><%= link_to 'Update shipping info', edit_request_path(@request) %></p>
            <% end %>
        <% end %>

        <% if @request.donation %>
            <p><%= link_to "Send a message to #{other_user.name}", new_donation_message_path(@request.donation) %></p>
        <% end %>

        <% if current_is_donor? %>
            <% if @request.donation.can_cancel? %>
            <p><%= link_to 'Cancel this donation', cancel_donation_path(@request.donation) %></p>
            <% end %>
        <% end %>
    </div>
    <div class="bottom_5">&nbsp;</div>
</div>

<div class="clear"></div>
