<% content_for :title do %><%= @request.user.name %> wants <%= @request.book %><% end %>

<% content_for :stylesheet do %>
<style>
.name {
    margin-bottom: 0;
}
</style>
<% end %>

<% if @request.flagged? && @current_user == @request.user %>
<div class="grid_12 message error">
    <p class="headline">There seems to be a problem with your shipping info.
        <%= link_to 'Update your shipping info', edit_request_path(@request) %>
    </p>
</div>
<% end %>

<h1 class="grid_16"><%= @request.user.name %> wants <span class="title"><%= @request.book %></span></h1>
<div class="request grid_12">
    <p class="reason"><%= @request.reason %></p>

    <h2>Ship to</h2>
    <p class="name"><%= @request.user.name %></p>

    <% if @request.user.address.present? %>
    <p class="address"><%= format_address @request.user.address %></p>
        <% if @current_user == @request.user %>
        <p><%= link_to 'Update shipping info', edit_request_path(@request) %></p>
        <% elsif @current_user == @request.donor %>
            <% if @request.flagged? %>
            <p class="flagged">Shipping info flagged</p>
            <% else %>
            <p><%= link_to 'Flag problem with shipping info', flag_request_path(@request) %></p>
            <% end %>
        <% end %>
    <% else %>
    <p class="address">No address given</p>
        <% if @current_user == @request.user %>
        <p><%= link_to 'Add your address', edit_request_path(@request) %></p>
        <% elsif @current_user == @request.donor %>
        <p>We'll contact them to fill it in and then notify you.</p>
        <% end %>
    <% end %>

    <% if @request.donor %>
    <h2>Status: Donor found</h2>
    <p class="status"><%= @request.donor.name %> in <%= @request.donor.location %> will donate this book.</p>
    <% else %>
    <h2>Status: Looking for donor</h2>
    <p class="status">We are looking for a donor for this book.</p>
    <% end %>
</div>
