<% content_for :title do %><%= @request.user.name %> wants <%= @request.book %><% end %>

<% content_for :stylesheet do %>
<style>
.name {
    margin-bottom: 0;
}

.back {
    margin-top: 24px;
}
</style>
<% end %>

<% if @request.flagged? && @current_user == @request.user %>
<div class="grid_12 message error">
    <p class="headline">
        <% if @request.address.blank? %>
        We need your address to send you your book.
        <%= link_to 'Add your address', edit_request_path(@request) %>
        <% else %>
        There seems to be a problem with your shipping info.
        <%= link_to 'Update your shipping info', edit_request_path(@request) %>
        <% end %>
    </p>
</div>
<% end %>

<h1 class="grid_16"><%= @request.user.name %> wants <span class="title"><%= @request.book %></span></h1>
<div class="request grid_12">
    <p class="tagline"><%= user_tagline @request.user %></p>
    <p class="reason"><%= @request.reason %></p>

    <h2>Ship to</h2>
    <p class="name"><%= @request.user.name %></p>
    <p class="address"><%= format_address @request.address %></p>

    <% if @current_user == @request.user %>
        <% if @request.address.present? %>
        <p><%= link_to 'Update shipping info', edit_request_path(@request) %></p>
        <% else %>
        <p><%= link_to 'Add your address', edit_request_path(@request) %></p>
        <% end %>
    <% elsif @current_user == @request.donor %>
        <% if @request.flagged? %>
        <p class="flagged">
            <% if @request.address.present? %>
            Shipping info flagged
            <% else %>
            Student has been contacted to add address
            <% end %>
        </p>
        <% else %>
        <p><%= link_to 'Flag problem with shipping info', edit_request_path(@request, type: "flag") %></p>
        <% end %>
    <% end %>

    <% if @request.donor %>
    <h2>Status: Donor found</h2>
    <p class="status"><%= @request.donor.name %> in <%= @request.donor.location %> will donate this book.</p>
    <% else %>
    <h2>Status: Looking for donor</h2>
    <p class="status">We are looking for a donor for this book.</p>
    <% end %>

    <% if @current_user == @request.donor %>
    <p class="back"><%= link_to 'Back to all donations', profile_path %></p>
    <% end %>
</div>
<div class="clear"></div>