<% content_for :title do %><%= @request.user.name %> wants <%= @request.book %><% end %>

<% content_for :stylesheet do %>
<style>
.name {
    margin-bottom: 0;
}

.back {
    margin-top: 24px;
}

.sidebar {
    margin-top: 24px;
}
</style>
<% end %>

<% if @request.flagged? && current_is_student? %>
<div class="grid_12 message error">
    <p class="headline">
        <% if @request.address.blank? %>
        We need your address to send you your book.
        <%= link_to 'Add your address', edit_request_path(@request) %>
        <% else %>
        There seems to be a problem with your shipping info.
        <%= link_to 'Update your shipping info', edit_request_path(@request) %>
        <% end %>
    </p>
</div>
<% end %>

<h1 class="grid_16"><%= @request.user.name %> wants <span class="title"><%= @request.book %></span></h1>

<div class="request grid_12">
    <p class="tagline"><%= user_tagline @request.user %></p>
    <p class="reason"><%= format_block @request.reason %></p>
</div>
<div class="clear"></div>

<div class="request grid_10">
    <h2>Ship to</h2>
    <p class="name"><%= @request.user.name %></p>
    <p class="address"><%= format_address @request.address %></p>

    <% if current_is_donor? && @request.flagged? %>
    <p class="flagged">
        <% if @request.address.present? %>
        Shipping info flagged
        <% else %>
        Student has been contacted to add address
        <% end %>
    </p>
    <% end %>

    <% if @request.granted? %>
    <h2>Status: Donor found</h2>
    <p class="status"><%= @request.donor.name %> in <%= @request.donor.location %> will donate this book.</p>
    <% else %>
    <h2>Status: Looking for donor</h2>
    <p class="status">We are looking for a donor for this book.</p>
    <% end %>

    <% if current_is_donor? %>
    <p class="back"><%= link_to 'Back to all donations', profile_path %></p>
    <% end %>
</div>

<div class="grid_5 sidebar">
    <div class="top_5">&nbsp;</div>
    <div class="content_5">
        <% if current_is_student? %>
            <% if @request.needs_thanks? %>
            <p><%= link_to "Thank #{@request.donor.name}", edit_request_path(@request, type: "thank") %></p>
            <% end %>
            <% if @request.address.present? %>
            <p><%= link_to 'Update shipping info', edit_request_path(@request) %></p>
            <% else %>
            <p><%= link_to 'Add your address', edit_request_path(@request) %></p>
            <% end %>
        <% end %>
        <% if current_is_donor? %>
            <% unless @request.flagged? %>
            <p><%= link_to 'Flag problem with shipping info', edit_request_path(@request, type: "flag") %></p>
            <% end %>
        <% end %>
        <% if other_user %>
            <p><%= link_to "Send a message to #{other_user.name}", new_request_message_path(@request) %></p>
        <% end %>
    </div>
    <div class="bottom_5">&nbsp;</div>
</div>

<div class="clear"></div>
