<% content_for :title do %>Fix Request<% end %>

<% content_for :stylesheet do %>
<style>
.submit {
    height: 46px;
    margin-top: 24px;
    background-image: url(/assets/update-button.png);
    background-position-x: left;
}
 </style>
<% end %>

<div class="grid_12 message error">
    <% if @donation.address.blank? %>
    <p class="headline">Add your address to get your book.</p>
    <% else %>
    <p class="headline">There seems to be a problem with your shipping info.</p>
    <p class="detail">Your donor says: "<%= format_block @donation.flag_message %>"</p>
    <% end %>
</div>

<h1 class="grid_16">Your shipping info</h1>

<div class="grid_12">
<%= form_for @donation, url: donation_flag_path(@donation), method: :delete do |f| %>
    <%= f.label :student_name, "Your name", class: "grid_5 alpha" %><div class="clear"></div>
    <%= f.text_field :student_name, class: "grid_5 alpha" %>
    <span class="grid_4 omega field_with_errors"><%= @donation.errors[:student_name].join(", ") %></span>
    <div class="clear"></div>

    <%= f.label :address, "Mailing address", class: "grid_5 alpha" %><div class="clear"></div>
    <%= f.text_area :address, class: "grid_5 alpha", rows: 5 %>
    <div class="grid_4 omega">
        <p>Only shared with your donor.</p>
        <p class="field_with_errors"><%= @donation.errors[:address].join(", ") %></p>
    </div>
    <div class="clear"></div>

    <%= fields_for @event do |e| %>
    <h2>Add a message for your donor (optional)</h2>

    <p>Your donor will get a notification about this update, and we'll include your message:</p>
    <p class="field_with_errors"><%= @event.errors[:message].join(", ") %></p>
    <%= e.text_area :message, rows: 6, cols: 60 %>
    <div class="clear"></div>
    <% end %>

    <%= f.submit "", class: "grid_3 alpha submit button" %><div class="clear"></div>
<% end %>
</div>
