<% content_for :title do %>Forgot Password<% end %>

<h1 class="grid_16">Forgot your password?</h1>

<p class="grid_16">No problem. Enter the email you signed up with:</p>
<%= form_tag request_reset_password_path do %>
    <%= label_tag :email, "Email", class: "grid_1" %>
    <%= text_field_tag :email, params[:email], class: "grid_4" %>
    <% if flash[:error] %>
    <p class="grid_4 field_with_errors"><%= flash[:error] %></p>
    <% end %>
    <div class="clear"></div>

    <div class="grid_1">&nbsp;</div>
    <%= submit_tag "Enter", class: "grid_2" %>
    <div class="clear"></div>
<% end %>
