<div class="pledge">
    <div class="headline"><%= link_to pledge.user.name, admin_user_path(pledge.user) %> (<%= pledge.user.email %>)
        pledged <%= pledge.quantity %> books
    </div>
    <div class="tagline"><%= user_tagline pledge.user %></div>
    <% if pledge.reason.present? %><div class="reason"><%= format_block pledge.reason %></div><% end %>
    <div class="donations"><%= pluralize pledge.user.donations.count, 'donation' %> so far</div>
    <div class="timestamp"><%= l pledge.created_at %></div>
</div>
<div class="clear"></div>
