<% content_for :title do %>Pledges – Admin<% end %>

<% content_for :stylesheet do %>
<style>
td, th {
    padding-right: 12px;
}

.pledge {
    margin-top: 12px;
}

.pledge p {
    margin-bottom: 0;
}
</style>
<% end %>

<h1 class="grid_16">Pledges</h1>
<div class="grid_12">
    <div class="overview">
        <%= render partial: "admin/metrics", object: @metrics.pledge_metrics %>
    </div>
    <p class="overview">Showing <%= @start+1 %>&ndash;<%= @end %></p>
    <%= render partial: "pledge", collection: @pledges, spacer_template: "requests/spacer" %>
    <p class="more"><%= more_link {|params| admin_pledges_path params}%></a>
</div>
