<p>Good news: We found a donor to send you <i><%= @event.book %>!</i>
    <%= @event.donor.name %> in <%= @event.donor.location %>.
</p>

<% if @event.donation.address.present? %>
<p>The address you gave was:</p>

<p>
<%= @event.donation.student.name %><br>
<%= format_address @event.donation.address %>
</p>

<p>If this isn't right, please update it right away:</p>

<p><%= link_to 'Update shipping info if needed', edit_request_url(@event.request) %></p>
<% else %>
<p>However, you haven't given us your address!</p>

<p><strong><%= link_to 'Add your address to get your book', fix_donation_flag_url(@event.donation) %></strong></p>
<% end %>
