<p><%= @event.user.name %> sent you a
    <% if @event.is_thanks? %>
    thank-you note for <i><%= @event.book %>:</i>
    <% else %>
    message on Free Objectivist Books:
    <% end %>
</p>

<p>"<%= format_block @event.message %>"</p>

<p><%= link_to "Reply to #{@event.from.name}", new_request_message_url(@event.request) %></p>

<% if @event.to_donor? %>
<p><%= link_to 'See this and all the latest books you have pledged to donate', profile_url %></p>
<% elsif @event.to_student? %>
<p><%= link_to 'See the status of your request', request_url(@event.request) %></p>
<% end %>
