<p>Hi <%= @event.to.name %>,</p>

<p><%= @event.user.name %> sent you a message on Free Objectivist Books:</p>

<p>"<%= @event.message %>"</p>

<p><%= link_to "Reply to #{@event.from.name}", new_request_message_url(@event.request) %></p>

<% if @event.to_donor? %>
<p><%= link_to 'See this and all the latest books you have pledged to donate', profile_url %></p>
<% elsif @event.to_student? %>
<p><%= link_to 'See the status of your request', request_url(@event.request) %></p>
<% end %>

<p>Thanks,<br>
Free Objectivist Books<br>
<%= link_to "http://freeobjectivistbooks.org", root_url %>
</p>
