<p><%= @event.user.name %> sent you a
    <% if @event.is_thanks? %>
    thank-you note for <i><%= @event.book %>:</i>
    <% else %>
    message on Free Objectivist Books:
    <% end %>
</p>

<p>"<%= format_block @event.message %>"</p>

<p><%= link_to "Reply to #{@event.from.name}", new_donation_message_url(@event.donation) %></p>

<p><%= link_to 'Full details for this request', request_url(@event.request) %></p>
