<p><%= @event.student.name %> has received <i><%= @event.book %>!</i></p>

<% if @event.message.present? %>
<p>They said: "<%= format_block @event.message %>"</p>

<p><%= link_to "Reply to #{@event.from.name}", new_donation_message_url(@event.donation) %></p>
<% else %>
<p>Thank you for being a donor on Free Objectivist Books.</p>
<% end %>

<p><%= link_to 'Find more students to donate to', donate_url %></p>
