<p>Hi <%= @event.to.name %>,</p>

<p><%= @event.user.name %> sent you a thank-you note for <i><%= @event.request.book %>:</i></p>

<p>"<%= @event.message %>"</p>

<% if !@event.request.flagged? %>
<p>If you haven't already done it, please send <i><%= @event.request.book %></i> to:</p>

<p>
<%= @event.request.user.name %><br>
<%= format_address @event.request.address %>
</p>

<p>See this and all the latest books you have pledged to donate at: <%= profile_url %></p>
<% elsif @event.request.address.blank? %>
<p><%= @event.request.user.name %> hasn't added an address yet. We'll let you know when they do so you
can send <i><%= @event.request.book %>.</i></p>
<% else %>
<p>You flagged <%= @event.request.user.name %>'s shipping info. We'll let you know when they respond
so you can send <i><%= @event.request.book %>.</i></p>
<% end %>

<p>
Thanks,<br>
Free Objectivist Books<br>
http://freeobjectivistbooks.org
</p>
