<p><%= @event.user.name %> <%= @event.detail %> on Free Objectivist Books.</p>

<% if @event.message.present? %>
<p>They said: "<%= format_block @event.message %>"</p>

<% end %>
<p>The shipping info for <i><%= @event.book %></i> is now:</p>

<p>
<%= @event.student.name %><br>
<%= format_address @event.request.address %>
</p>

<p><%= link_to 'Full details for this request', request_url(@event.request) %></p>
