<p>Hi <%= @event.to.first_name %>,</p>

<p><%= @event.user.name %> <%= @event.detail %> on Free Objectivist Books.</p>

<% if @event.message.present? %>
<p><%= @event.user.first_name %> says: "<%= @event.message %>"</p>
<% end %>

<% if @event.to_donor? %>
<p>Please send <%= @event.request.book %> to:</p>

<p>
<%= @event.request.user.name %><br>
<%= format_address @event.request.user.address %>
</p>

<p><%= link_to 'See this and all the latest books you have pledged to donate', profile_url %></p>
<% end %>

<p>Thanks,<br>
Free Objectivist Books<br>
<%= link_to "http://freeobjectivistbooks.org", root_url %>
</p>
