<div class="request">
    <div class="headline"><%= request_summary request %></div>
    <div class="tagline"><%= user_tagline request.user %></div>
    <div class="reason"><%= format_block request.reason %></div>
    <p class="status"><%= donation_summary request %></p>
    <p class="student">Student: <%= admin_user_link request.user %></p>
    <p class="donor">
        <% if request.donor %>
        Donor: <%= admin_user_link request.donor %>
            <% if request.thanked? %>&ndash; thanked<% end %>
        <% else %>
        No donor yet
        <% end %>
    </p>
    <% if request.flagged %>
    <p class="flagged">
        <% if request.address.blank? %>
        Missing address flagged
        <% else %>
        Shipping info flagged: "<%= format_block request.flag_message %>"
        <% end %>
    </p>
    <% end %>
    <div><%= link_to (l request.created_at), admin_request_path(request), class: "timestamp" %></div>
</div>
<div class="clear"></div>
