<div class="request">
    <div class="headline">
        <%= admin_user_link request.user %> (<%= request.user.email %>) wants
        <span class="title"><%= request.book %></span>
    </div>
    <div class="tagline"><%= user_tagline request.user %></div>
    <div class="reason"><%= format_block request.reason %></div>
    <p class="donor">
        <% if request.donor %>
        Donor: <%= admin_user_link request.donor %> in <%= request.donor.location %>
            <% if request.thanked? %>&ndash; thanked<% end %>
        <% else %>
        No donor yet
        <% end %>
    </p>
    <% if request.flagged %>
    <p class="flagged">
        <% if request.address.blank? %>
        Missing address flagged
        <% else %>
        Shipping info flagged: "<%= format_block request.flag_message %>"
        <% end %>
    </p>
    <% end %>
    <div><%= link_to (l request.created_at), admin_request_path(request), class: "timestamp" %></div>
</div>
<div class="clear"></div>
