<% content_for :title do %>Requests – Admin<% end %>

<% content_for :stylesheet do %>
<style>
td, th {
    padding-right: 12px;
}

.request {
    margin-top: 12px;
}

.request p {
    margin-bottom: 0;
}
</style>
<% end %>

<h1 class="grid_16">Requests<% if params[:type] %>: <%= params[:type].humanize %><% end %></h1>
<div class="grid_12">
    <% unless params[:type] %>
    <div class="overview">
        <%= render partial: "metrics", object: @metrics.request_pipeline %>
    </div>
    <% end %>
    <% if @start && @end %><p class="overview">Showing <%= @start+1 %>&ndash;<%= @end %></p><% end %>
    <%= render partial: "request", collection: @requests, spacer_template: "requests/spacer" %>
    <% if @total %><p class="more"><%= more_link {|params| admin_requests_path params}%></a><% end %>
</div>
