<% content_for :title do %><%= @request.user.name %> wants <%= @request.book %> – Admin<% end %>

<% content_for :stylesheet do %>
<style>
.name {
    margin-bottom: 0;
}

.back {
    margin-top: 24px;
}

.sidebar {
    margin-top: 24px;
}
</style>
<% end %>

<h1 class="grid_16"><%= admin_user_link @request.user %> wants <%= title @request.book %></h1>

<div class="request grid_12">
    <p class="tagline"><%= user_tagline @request.user %></p>
    <p class="reason"><%= format_block @request.reason %></p>

    <h2>Ship to</h2>
    <p class="name"><%= @request.user.name %></p>
    <p class="address"><%= format_address @request.address %></p>

    <% if @request.needs_fix? %>
    <p class="flagged">
        <% if @request.address.present? %>
        Shipping info flagged
        <% else %>
        Student has been contacted to add address
        <% end %>
    </p>
    <% end %>

    <h2>Status: <%= status_headline @request %></h2>
    <p class="status"><%= status_detail @request %></p>
    <% if @request.donor %>
    <p><%= admin_user_link @request.donor %> &ndash; <% if @request.thanked? %>Thank-you sent<% else %>Not thanked yet<% end %></p>
    <% end %>

    <h2>Events</h2>
    <%= render partial: "admin/events/event", collection: @request.events, spacer_template: "requests/spacer" %>
</div>
<div class="clear"></div>
