<div class="user">
    <p class="headline"><%= admin_user_link user %> (<%= user.email %>)</p>
    <p class="tagline"><%= user_tagline user %></p>
    <% user.requests.each do |request| %>
    <p>Wants <span class="title"><%= request.book %></span></p>
    <% end %>
    <% user.pledges.each do |pledge| %>
    <p>Pledged <%= pluralize pledge.quantity, 'book' %></p>
    <% end %>
    <% if user.donations.active.any? %>
    <p>Sponsored <%= pluralize user.donations.active.count, 'book' %></p>
    <% end %>
</div>
