<% content_for :title do %><%= @user.name %> – Admin<% end %>

<% content_for :stylesheet do %>
<style>
.user, .request, .pledge, .donation {
    margin-top: 12px;
}

.user p, .pledge p, .donation p {
    margin-bottom: 0;
}

.button {
    height: 56px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.button.edit {
    background-image: url(/assets/edit-button.png);
}

.button.delete {
    background-image: url(/assets/delete-button.png);
}

.back {
    margin-top: 24px;
}
</style>
<% end %>

<h1 class="grid_16"><%= @user.name %></h1>

<div class="grid_12">
    <p class="tagline"><%= user_tagline @user %></p>
    <p class="email"><%= @user.email %></p>
    <p class="address"><%= format_address @user.address %></p>

    <% if @user.requests.any? %>
    <h2><% if @user.requests.count == 1 %>Request<% else %>Requests<% end %></h2>
    <% @user.requests.each do |request| %>
    <div class="request">
        <p class="headline"><%= link_to (title request.book), admin_request_path(request) %></p>
        <p class="reason"><%= format_block request.reason %></p>
        <p class="donor">
            <% if request.donor %>
            Donor: <%= admin_user_link request.donor %> in <%= request.donor.location %>
            <% else %>
            No donor yet
            <% end %>
        </p>
        <% if request.needs_fix? %>
        <p class="flagged">
            <% if request.address.blank? %>
            Missing address flagged
            <% else %>
            Shipping info flagged: "<%= format_block request.flag_message %>"
            <% end %>
        </p>
        <% end %>
    </div>
    <% end %>
    <% end %>

    <% if @user.pledges.any? %>
    <h2><% if @user.pledges.count == 1 %>Pledge<% else %>Pledges<% end %></h2>
    <% @user.pledges.each do |pledge| %>
    <div class="pledge">
        <p class="headline"><%= pluralize pledge.quantity, 'book' %></p>
        <% if pledge.reason.present? %><p class="reason"><%= format_block pledge.reason %></p><% end %>
    </div>
    <% end %>
    <% end %>

    <% if @user.donations.any? %>
    <h2>Donations</h2>
    <% @user.donations.each do |donation| %>
    <p class="donation">
        <%= link_to admin_request_path(donation.request) do %>
            <%= title donation.book %> to <%= donation.student.name %> in <%= donation.student.location %>
        <% end %>
        &ndash;
        <% if donation.request.canceled? %>
        Request canceled
        <% elsif donation.canceled? %>
        Canceled
        <% elsif donation.flagged? %>
        Flagged
        <% else %>
        <%= donation.status.humanize %>
        <% end %>
    </p>
    <% end %>
    <% end %>

    <p class="back"><%= link_to 'Back to all users', admin_users_path %></p>
</div>

<div class="actions grid_3">
    <%= link_to edit_admin_user_path(@user) do %>
        <div class="edit button"></div>
    <% end %>
    <%= link_to admin_user_path(@user), method: :delete, confirm: "Delete #{@user.name}?" do %>
        <div class="delete button"></div>
    <% end %>
    <%= link_to "Spoof user", spoof_admin_user_path(@user), method: :post %>
</div>
