<% content_for :title do %>Testimonials<% end %>

<% content_for :stylesheet do %>
<style>
h2.main {
    margin-top: 20px;
    margin-bottom: 20px;
}

.more-link {
    margin-bottom: 36px;
}

.sidebar {
    margin-top: 20px;
}

.sidebar p {
    font-size: 1.2em;
}
</style>
<% end %>

<h1 class="grid_16">What people are saying about Free Objectivist Books</h1>

<div class="grid_12">
    <h2 class="main">From students</h2>
    <%= render partial: "testimonial", collection: @students, locals: {permalink: true}, spacer_template: "requests/spacer" %>
    <p class="more-link"><%= link_to 'More quotes from students...', students_testimonials_path %></p>

    <h2 class="main">From donors</h2>
    <%= render partial: "testimonial", collection: @donors, locals: {permalink: true}, spacer_template: "requests/spacer" %>
    <p class="more-link"><%= link_to 'More quotes from students...', donors_testimonials_path %></p>
</div>

<%= render 'sidebar' %>
