<% content_for :title do %>Users Around the World<% end %>

<% content_for :stylesheet do %>
<style>
#map {
    width: 100%;
    height: 540px;
}

.countries {
    margin-top: 24px;
}
</style>
<% end %>

<h1 class="grid_16">Users around the world</h1>

<div class="grid_16">
    <p class="overview"><%= format_number @users.count %> students have requested Objectivist books
        from <%= @countries.count %> countries around the world
    </p>
    <div id="map"></div>
    <p class="countries">... including <%= @countries.to_sentence %>!</p>
</div>

<% content_for :javascript do %>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBuW7WIKA_G8dA9S5j8-XIPklwHY5FUV00&sensor=false"></script>
<script>
$(document).ready(function () {
    var canvas = $('#map').get(0);
    var center = new google.maps.LatLng(24, 10);
    var map = new google.maps.Map(canvas, {
        center: center,
        zoom: 2,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        disableDefaultUI: true
    });

    var markers = [
        <% @markers.each do |marker| %>
        {
            title: '<%=j marker.name %>',
            lat: <%= marker.lat %>,
            lon: <%= marker.lon %>
        },
        <% end %>
    ];

    $.each(markers, function (i, marker) {
        var position = new google.maps.LatLng(marker.lat, marker.lon);
        new google.maps.Marker({position: position, map: map, title: marker.title});
    });
});
</script>
<% end %>
