<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "#{yield :title} – " : "" %>Free Ayn Rand and Objectivist Books for Students</title>
  <%= stylesheet_link_tag "application" %>
  <%= yield :stylesheet %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "google_analytics" %>
</head>
<body>

<div class="header">
    <%= link_to 'Free Objectivist Books', root_path, class: "home" %>
    <span class="topnav">
        <%= link_to 'Read', signup_read_path %> |
        <%= link_to 'Donate', signup_donate_path %> |
        <%= link_to 'About', about_path %>
    </span>
</div>

<div class="container_16">
<%= yield %>
<div class="clear"></div>
<p>&nbsp;</p>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
