<!DOCTYPE html>
<html>
<head>
  <title>Free Ayn Rand and Objectivist Books for Students</title>
  <%= stylesheet_link_tag "homepage" %>
  <%= yield :stylesheet %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "google_analytics" %>
</head>
<body>

<div class="container_24">
<%= yield %>
<div class="clear"></div>
<p>&nbsp;</p>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
